<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>State Monitor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"
    />
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <link rel = "stylesheet" href = "/css/styles.css"></link>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@500&display=swap" rel="stylesheet">
  </head>
  <body style="background:  linear-gradient(to bottom, #e8ffff 30%, #e0ece4 100%)">
    <header class="masthead clear">
      <div class="site-branding">
        <h1 class="site-title">State Monitoring Application</h1>
      </div>
      <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/"
              >Home <span class="sr-only">(current)</span></a
            >
            <a class="nav-item nav-link" href="/analytics">Analytics</a>
          </div>
        </div>
      </nav>
    </header>
    <div class="container" style="margin-top: 50px;">
      <table class="table table-fluid" id="myTable">
        <thead>
          <tr>
            <th>Device id</th>
            <th>On Time</th>
            <th>Off Time</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody id="tBody"></tbody>
      </table>
    </div>
    <script>
      $("#myTable").DataTable({
        order: [[3, "desc"]],
        lengthMenu: [10, 25, 50],
        ajax: {
          url: "https://statemonitor.herokuapp.com/api/logs",
          dataSrc: "",
        },
        columns: [
          { data: "devid" },
          { data: "ontime" },
          { data: "offtime", defaultContent: "<b>--:--:--</b>" },
          {
            data: "date",
            render: (data, type, full, meta) => `${full.day}, ${full.date}`,
          },
        ],
      });
    </script>
  </body>
</html>
